/*
 * FOURJS_START_COPYRIGHT(D,2018)
 * Property of Four Js*
 * (c) Copyright Four Js 2018, 2019. All Rights Reserved.
 * * Trademark of Four Js Development Tools Europe Ltd
 *   in the United States and elsewhere
 * 
 * This file can be modified by licensees according to the
 * product manual.
 * FOURJS_END_COPYRIGHT */

.gbc_WaitingWidget {
  background-color: $gbc-WaitingWidget-background-color;
}
.gbc_WaitingWidget_outer_content {
     min-width: 50px;
     min-height: 30px;
     width: 100%;
     height: 100%;
     @include flexible_host_center_row;

   }
.gbc_WaitingWidget_inner_content {
  @include flexible_host_center_col;
  @include flexible_guest_stretch;
  text-align: center;
  color: $gbc-WaitingWidget-color;
  align-self: center;
  align-content: center;
  align-items: center;


}
.gbc_WaitingWidget_bars {
   margin: 0 auto;
   width: 50px;
   height: 30px;
   text-align: center;
   font-size: 10px;

 }
.gbc_WaitingWidget_bar  {
  background-color: $gbc-WaitingWidget-color;
    height: 100%;
    width: 6px;
    display: inline-block;
    animation: stretchdelay 1.2s infinite ease-in-out;

  }
.gbc_WaitingWidget_bar2 {
     animation-delay: -1.1s;
   }
.gbc_WaitingWidget_bar3 {
  animation-delay: -1.0s;
}
.gbc_WaitingWidget_bar4 {
  animation-delay: -0.9s;
}
.gbc_WaitingWidget_bar5 {
  animation-delay: -0.8s;
}