/*
 * FOURJS_START_COPYRIGHT(D,2018)
 * Property of Four Js*
 * (c) Copyright Four Js 2018, 2018. All Rights Reserved.
 * * Trademark of Four Js Development Tools Europe Ltd
 *   in the United States and elsewhere
 * 
 * This file can be modified by licensees according to the
 * product manual.
 * FOURJS_END_COPYRIGHT */

.gbc_MySessionEndWidget {
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
}
[__MySessionEndWidget].mt-card {
  margin: 16px;
}
[__MySessionEndWidget].mt-card-richhead {
  display: flex;
  align-items: center;
}
[__MySessionEndWidget].mt-card-header-text {
  padding-left: 32px;
}
[__MySessionEndWidget].session {
  padding: 32px 16px 16px 16px;
  margin: 0;
}
[__MySessionEndWidget].message {
  border-bottom: 1px solid $theme-separator-color;
}
[__MySessionEndWidget].message, [__MySessionEndWidget].mt-actions {
  padding: 16px 32px;
}
[__MySessionEndWidget].mt-action {
  margin-bottom: 4px;
}
[__MySessionEndWidget].mt-card-actions {
  margin-bottom: 16px;
}
[__MySessionEndWidget].redirectionLink {
  font-size:60%;
}