.gbc_MyMainContainerWidget {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  > header {
    padding: 1em;
    background-color: $theme-primary-faded-background-color;
    color: $theme-primary-background-color;
    text-align: center;
  }
  > .containerElement {
    flex: 1 1 0px;
    position: relative;
  }
  > footer {
    padding: 1em;
    background-color: $theme-primary-faded-background-color;
    color: $theme-primary-background-color;
    text-align: center;
  }
}
.gbc_ChromeBarWidget.mt-toolbar{ display:none;}

/* increase size of the spinedit arrow */
.gbc_style_spineditarrowsize .gbc_SpinEditWidget_arrows {
  font-size: 1.5em;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #FFFFFF;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.slftxaction_viewmainpanel {
  padding: 0;
  height: 44px;
  width: 44px;
}
a.slftxaction_viewmainpanel img {
  margin-top: 14px;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a.slftxaction_viewcampaigns:hover {
  background-color: #aa44ff;
  color: #C0C0C0;
}
.topnav a.slftxaction_viewbrands:hover {
  background-color: #69a5fe;
  color: #C0C0C0;
}
.topnav a.slftxaction_viewinfluencers:hover {
  background-color: #df55be;
  color: #C0C0C0;
}
.topnav a.slftxaction_viewbousers:hover {
  background-color: #f7b584;
  color: #C0C0C0;
}
.topnav a.slftxaction_signin:hover {
  background-color: #FFFFFF;
  color: #C0C0C0;
}

/* Style the links inside the navigation bar */
.salfatixlogo a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
    font-size: 17px;
}

/* We use by default and image with 51px of height */
.salfatixlogo img {
    height: 44px;
}

.navbrand {
    float: left;
    overflow: hidden;
    padding: 14px 16px;
    color: #000000;
    font-size: 17px;
}

.topnavmenu {
    float: right;
}

.topnavhidden {
    display: none;
}

.slftxaction_viewmainpanel,
.slftxaction_viewbrands,
.slftxaction_addbrand,
.slftxaction_viewcampaigns,
.slftxaction_addcampaign,
.slftxaction_viewinfluencers,
.slftxaction_addinfluencer,
.slftxaction_viewbousers,
.slftxaction_addbouser,
.slftxaction_signin {
  margin-left:5px;
}
/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;  
}

/* Add a dark background on topnav links and the dropdown button on hover */
.dropdown:hover .dropbtn {
    background-color: #FFFFFF;
    color: #C0C0C0;
}


/* Style the dropdown button to fit inside the topnav */
.dropbtn {
    font-size: 17px; 
    border: none;
    outline: none;
    color: #000000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    line-height: inherit;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    width: 100%;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    color: #C0C0C0;
    background-color: #FFFFFF;
}


/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}

.marginright {
    margin-right: 5px;
    width: 16px;
}
.dropdown .marginleft {
    margin-left: 5px;
    width: 13px;
}

.gbc_MyMainContainerWidget header  {
    display:none;
}

/* put the Add button at the bottom left of the window*/
div.slftxaction_addcampaign, div.slftxaction_addbrand, div.slftxaction_addinfluencer, div.slftxaction_addbouser {
  position:fixed;
  width:60px;
  height:60px;
  bottom:30px;
  left:40px;
  border-radius:50%;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
}

div.slftxaction_addcampaign, .slftxaction_viewcampaigns {
  background-color:#8000FF;
  color:#FFF;
}
div.slftxaction_addbrand, .slftxaction_viewbrands {
  background-color:#2E64FE;
  color:#FFF;
}
div.slftxaction_addinfluencer, .slftxaction_viewinfluencers {
  background-color:#DF01A5;
  color:#FFF;
}
div.slftxaction_addbouser, .slftxaction_viewbousers {
  background-color:#F79F81;
  color:#FFF;
}


