/*
 * FOURJS_START_COPYRIGHT(D,2018)
 * Property of Four Js*
 * (c) Copyright Four Js 2018, 2019. All Rights Reserved.
 * * Trademark of Four Js Development Tools Europe Ltd
 *   in the United States and elsewhere
 * 
 * This file can be modified by licensees according to the
 * product manual.
 * FOURJS_END_COPYRIGHT */

.gbc_ChromeRightBarWidget {
  transition: right $mt-sidebar-animation-duration ease;
  font-family: "Droid Sans", sans-serif;

  & > .containerElement:not(:empty) {
    padding-bottom: $theme-margin-ratio*1em;
  }

  &.slide-right{
    right: -300px!important;
  }

  /*
  .chromebar-firstGbcItem {
    border-top: 1px solid #e4e4e4;
  }
  */

}

