/*
 * FOURJS_START_COPYRIGHT(D,2018)
 * Property of Four Js*
 * (c) Copyright Four Js 2018, 2019. All Rights Reserved.
 * * Trademark of Four Js Development Tools Europe Ltd
 *   in the United States and elsewhere
 * 
 * This file can be modified by licensees according to the
 * product manual.
 * FOURJS_END_COPYRIGHT */

.gbc_FormWidget {
  width: auto !important;
  height: auto !important;
  flex : 1 1 auto;
  position:relative;
  z-index: 1;

  >.containerElement {
    @include fill-absolute;
  }
  &.overflownX >.containerElement{
    overflow-x: scroll;
    overflow-y: hidden;
  }
  &.overflownY >.containerElement{
    overflow-x: hidden;
    overflow-y: scroll;
  }
  &.overflownX.overflownY >.containerElement{
    overflow-x: scroll;
    overflow-y: scroll;
  }
  .gbc_WindowWidget_position_center &.notOverflownX>.containerElement,
  .gbc_WindowWidget_position_center2 &.notOverflownX>.containerElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > *{
      flex: 0 0 auto;
    }
  }
}

.gbc_TraditionalContainerWindow {
  .gbc_FormWidget {
    font-family: monospace !important;
    font-size: 1.3em * $gbc-FormWidget-font-size-ratio;
  }

  .gbc_MenuWidget.disabled {
    display: none;
  }
}
//ugly safari hack for overflow measurement
.safariMeasure{
  position:absolute;
}