/*
 * FOURJS_START_COPYRIGHT(D,2018)
 * Property of Four Js*
 * (c) Copyright Four Js 2018, 2019. All Rights Reserved.
 * * Trademark of Four Js Development Tools Europe Ltd
 *   in the United States and elsewhere
 * 
 * This file can be modified by licensees according to the
 * product manual.
 * FOURJS_END_COPYRIGHT */

.gbc_PagedScrollGridWidget {
  @include fill-absolute;
  display: flex;
  flex-direction: column;

  > .containerElement {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;

    > * {
      margin-bottom: $gbc-ScrollGridWidget-inner-gutter * 1px;
      padding: $gbc-ScrollGridWidget-margin-ratio*8px;
      margin: $gbc-ScrollGridWidget-margin-ratio*8px;
      @include mt-card-border($gbc-ScrollGridWidget-margin-ratio, $gbc-ScrollGridWidget-font-size-ratio);
    }
  }

  &:not(.disabled) .gbc_StretchableScrollGridLineWidget.highlight.currentRow {
    background-color: $gbc-ScrollGridWidget-current-background-color !important;
  }
}