/*
 * FOURJS_START_COPYRIGHT(D,2018)
 * Property of Four Js*
 * (c) Copyright Four Js 2018, 2019. All Rights Reserved.
 * * Trademark of Four Js Development Tools Europe Ltd
 *   in the United States and elsewhere
 * 
 * This file can be modified by licensees according to the
 * product manual.
 * FOURJS_END_COPYRIGHT */

.gbc_TimeEditWidgetBase, .gbc_DummyTimeEditWidget  {
  display: flex;
  cursor:default;
  > div:first-child {
    flex: 1 1 auto;
    > input {
      font-family: inherit;
      width:100%;
    }
  }

  > .gbc_TimeEditWidget_arrows {
    font-size: $theme-font-size-ratio *1em;
    display: inline-flex;
    flex-direction: column;
    user-select: none;
    padding-right: $gbc-TimeEditWidget-margin-ratio*8px;
    font-family: unquote($gbc-TimeEditWidget-font-family);
    > div {
      font-size: 0.6em;
      transition: background-color 0.5s;
      line-height:1em;

      > span {
        display: inline;
      }
    }
  }

  .gbc_TimeEditWidget_arrows > div {
    cursor: pointer;
    &:hover {
      background-color: $gbc-TimeEditWidget-hover-color;
    }
  }

  &.readonly, &.disabled{
    > .gbc_TimeEditWidget_arrows > div {
      cursor: inherit;
      &:hover {
        background-color: transparent;
      }
    }
  }

  input{
    cursor:text;
  }
}
