/*
 * FOURJS_START_COPYRIGHT(D,2018)
 * Property of Four Js*
 * (c) Copyright Four Js 2018, 2019. All Rights Reserved.
 * * Trademark of Four Js Development Tools Europe Ltd
 *   in the United States and elsewhere
 * 
 * This file can be modified by licensees according to the
 * product manual.
 * FOURJS_END_COPYRIGHT */

.gbc_ButtonEditWidget, .gbc_DummyButtonEditWidget {
  display: flex;
  &.gbc_Focus > .gbc_EditWidget {
    outline: none;
    border-top: $mt-field-focus-border-width-top solid $mt-field-focus-border-color;
    border-right: $mt-field-focus-border-width-right solid $mt-field-focus-border-color;
    border-bottom: $mt-field-focus-border-width-bottom solid $mt-field-focus-border-color;
    border-left: $mt-field-focus-border-width-left solid $mt-field-focus-border-color;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .24), inset 0 1px 1px rgba(0, 0, 0, .24);
  }
  .g_measured &.g_measureable > .gbc_EditWidget {
    flex: 1 1 auto;
    width: 0px;
    input{
      flex: 1 1 0px;
      width: 0px;
    }
  }

  >.gbc_ButtonWidget {
    padding: 0;
    > .mt-button {
      min-width: $gbc-ButtonEditWidget-default-height;
      box-shadow: 0 0 0;
    }
  }
  &:not(.reverse) {
    > .gbc_EditWidget {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    > .gbc_ButtonWidget > .mt-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &.reverse{
    > .gbc_EditWidget {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    >.gbc_ButtonWidget > .mt-button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .g_measuring &{
    display: inline-flex;
    > .gbc_dataContentPlaceholder:not(.gbc_dynamicMeasure) {
      > :not(.gbc_dataContentMeasure) {
        display: none;
      }
      > .gbc_dataContentMeasure {
        display: inline-flex;
      }
    }
    > .gbc_dataContentPlaceholder.gbc_dynamicMeasure {
      > .gbc_dataContentMeasure {
        display: none;
      }
      > input {
        width:0px;
      }
    }
    >.gbc_dataContentPlaceholder {
      > .gbc_dataContentMeasure {
        display: none;
      }
    }
  }
  .g_measured & {
    height: 100%;
  }

}
