/*
 * FOURJS_START_COPYRIGHT(D,2018)
 * Property of Four Js*
 * (c) Copyright Four Js 2018, 2019. All Rights Reserved.
 * * Trademark of Four Js Development Tools Europe Ltd
 *   in the United States and elsewhere
 * 
 * This file can be modified by licensees according to the
 * product manual.
 * FOURJS_END_COPYRIGHT */

.gbc_LabelWidget.gbc_MenuLabelWidget {
  display: flex;

  .gbc-label-image-container{
    flex: 0 1 auto;
    min-width: 15px;
    max-width: 15px;
    max-height: 15px;
    padding: 0 3px;
  }

  .gbc-label-text-container{
    flex: 1 1 auto;
    min-width: 120px;
  }

  .gbc-label-comment-container{
    flex: 0 1 auto;
    color: #8e908c;
  }

}