/*
 * FOURJS_START_COPYRIGHT(D,2018)
 * Property of Four Js*
 * (c) Copyright Four Js 2018, 2019. All Rights Reserved.
 * * Trademark of Four Js Development Tools Europe Ltd
 *   in the United States and elsewhere
 * 
 * This file can be modified by licensees according to the
 * product manual.
 * FOURJS_END_COPYRIGHT */

.gbc_SessionSidebarApplicationItemWidget {
  cursor: pointer;
  > div {
    display: flex;
    flex-direction: row;
    line-height: 32px;
    > .applicationName{
      flex: 1 1 auto;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  > ul {
    padding-left: 14px;
  }


  .noAction{
    pointer-events: none !important;
  }

  &.activeWindow .applicationName{
    font-weight: bold;
  }
  .applicationIcon, .windowIcon {
    display: flex;
    align-items: center;

    .gbc_ImageWidget {
      margin-right: 4px;
      @extend .icon;
    }
  }

  &[processing] {
    /* This can generate performance issue (~50ms of relayout on mid-tier mobile when executed) */
    ul {
      pointer-events: none;
    }
  }
}