/*
 * FOURJS_START_COPYRIGHT(D,2018)
 * Property of Four Js*
 * (c) Copyright Four Js 2018, 2019. All Rights Reserved.
 * * Trademark of Four Js Development Tools Europe Ltd
 *   in the United States and elsewhere
 * 
 * This file can be modified by licensees according to the
 * product manual.
 * FOURJS_END_COPYRIGHT */

.gbc_PaginationWidget {
  display: flex;
  justify-content: center;

  > span {
    font-size: 100%;
    padding: 0 $gbc-ScrollGridWidget-inner-gutter * 1px 0 $gbc-ScrollGridWidget-inner-gutter * 1px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.current {
      background-color: $gbc-ScrollGridWidget-current-background-color;
      color: $gbc-ScrollGridWidget-current-color;
    }
  }

  > span, > i {
    cursor: default;
    border-radius: 2px;
    margin: 1%;
    font-size: 1.3em;

    &.navbutton:hover {
      background-color: $gbc-ScrollGridWidget-disabled-color;
    }

    &:hover{
      cursor: pointer;
    }
  }

  > i.disabled {
    color: $gbc-ScrollGridWidget-disabled-color;

    &:hover {
      color: $gbc-ScrollGridWidget-disabled-color;
      cursor: default;
    }
  }
}